.container{
    width: 70%;
    margin: 0 auto;
}
.column{
    position: relative;
    margin: 10px;
}
.top{
    margin-bottom: 40px;
    margin-top: 40px;
}
.row{
    display: flex;
    justify-content: center;
}
.sale{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: green;
}
.red{
    background-color: red;
}
.heart{
    position: absolute;
    top: 340px;
    left: 50%;
    display: none;
    color: red;
}
.column:hover .heart{
    display: block;
}